body{
    background-color: darkolivegreen;
}

.navegador{
    width: 100%;
    margin: 30px 0;
    text-align: center;
}
.containerTable{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


.table {
    background-color: aquamarine;
    width: 80%;
}
.thead {
    background-color: gray;
    width: 100%;    
}

.tr{
    width: 100%;
}

.tbody{
    width: 100%;
}